services:
  - name: mysql
    type: web_service
    env: docker
    plan: free
    dockerfilePath: Dockerfile
    envVars:
      - key: MYSQL_DATABASE
        value: etl_db  # Replace with your database name
      - key: MYSQL_USER
        value: ashok_2216   # Replace with your preferred username
      - key: MYSQL_PASSWORD
        value: 6900  # Replace with a strong password
      - key: MYSQL_ROOT_PASSWORD
        value: 2216  # Replace with a strong root password
    # disk:
    #   name: mysql_data
    #   mountPath: /var/lib/mysql
    #   sizeGB: 1  # Adjust size as needed
